In [1]:
from alpha_vantage.timeseries import TimeSeries

In [2]:
API_key = "H456ZLCOCHH7CH10"

In [4]:
ts = TimeSeries(key=API_key, output_format='pandas')

In [6]:
data = ts.get_daily("AAPL")

In [7]:
data

(            1. open   2. high    3. low  4. close   5. volume
 date
 2024-10-08  224.290  225.9750  223.2500    225.77  31424996.0
 2024-10-07  224.500  225.6900  221.3300    221.69  39505354.0
 2024-10-04  227.900  228.0000  224.1300    226.80  37345098.0
 2024-10-03  225.140  226.8050  223.3200    225.67  34044158.0
 2024-10-02  225.890  227.3700  223.0200    226.78  32880605.0
 ...             ...       ...       ...       ...         ...
 2024-05-22  192.265  192.8231  190.2700    190.90  34648547.0
 2024-05-21  191.090  192.7300  190.9201    192.35  42309401.0
 2024-05-20  189.325  191.9199  189.0100    191.04  44361275.0
 2024-05-17  189.510  190.8100  189.1800    189.87  41282925.0
 2024-05-16  190.470  191.0950  189.6601    189.84  52845230.0

 [100 rows x 5 columns],
 {'1. Information': 'Daily Prices (open, high, low, close) and Volumes',
  '2. Symbol': 'AAPL',
  '3. Last Refreshed': '2024-10-08',
  '4. Output Size': 'Compact',
  '5. Time Zone': 'US/Eastern'})

In [9]:
df = data[0]

In [11]:
df["4. close"].to_frame()

            4. close
date
2024-10-08    225.77
2024-10-07    221.69
2024-10-04    226.80
2024-10-03    225.67
2024-10-02    226.78
...              ...
2024-05-22    190.90
2024-05-21    192.35
2024-05-20    191.04
2024-05-17    189.87
2024-05-16    189.84

[100 rows x 1 columns]